body{
	font-family:sans-serif;
}
.wrapper{
	clear:both;
	height:2000px;
	width:1000px;
}
#left{
    width:200px;
    height:600px;
    padding-top:20px;
    padding-bottom:20px;
    float:left;
	border-right-style:solid;
	border-right-color:#f79021;
	border-right-width:3px;
}
#content{
    height:600px;
    width:720px;
    padding:20px;
    float:left;
}
#message{
 /*   float:left; */
    width:100%;
    height:40px;
    overflow:auto;
    background-color:white;
}
.header{
    height:75px;
    width:960px;
	border-bottom-style:solid;
	border-bottom-color:#f79021;
	border-bottom-width:3px;
}
.logo{
	width:200px;
	height:75px;
	float:left;
	border-right-style:solid;
	border-right-color:#f79021;
	border-right-width:3px;
}
#pageTitle{
	font-size:2em;
	float:left;
	margin-left:0px;
	margin-top:15px;
}
#pageTitle.end{
	margin-left:5px;
	margin-right:5px;
	color:#093e56;
}
.inline{
	display:inline;
}
.controls{
    float:left;
    width:350px;
    height:40px;
    padding-top:15px;
}
.logout{
	float:right;
    margin-top:15px;
}
div.object{
	color:red;
	font-size:1em;
	margin-bottom:10px;
	margin-left:10px;
}
div.data{
	color:black;
	margin-bottom:10px;
	margin-left:20px;
	font-size:1em;
}
.footer{
	color:black;
	font-size:.6em;
	text-align:center;
	clear:both;
	height:30px;
	width:100%;
}